// Widescreens
@include mediaXl {
}

// Desktops and Laptops
@include mediaLg {
}

// Tablets and small laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    // For Name heading
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    // Make the branding and navbar single
    // columned downward for medium and small screens
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    // slide in from left
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    // branding only takes 25% of screen
    height: 25vh;
    // slide in from right
    transform: translate3d(100%, 0, 0);

    // change portrait to smaller version of image
    .portrait {
      background: url("../img/portrait_small.jpg");
      width: 150px;
      height: 150px;
    }
  }
}

// Smarthpones
@include mediaSm {
  main#home h1 {
    // lower h1 by 10vh
    margin-top: 10vh;
  }
}
